<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-accordion-group>
    <ion-accordion *ngFor="let contact of contacts" value="{{contact.cell}}">
      <ion-item slot="header" color="light">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" [src]="contact.picture.thumbnail" />
        </ion-avatar>
        <ion-label>{{contact.name.title}} {{contact.name.first}} {{contact.name.last}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Telefono: {{contact.phone}}</div>
      <div class="ion-padding" slot="content">Email: {{contact.email}}</div>
      <div class="ion-padding" slot="content">Ciudad: {{contact.location.city}}, {{contact.location.country}}</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
